.button {
    min-width: 32px;
    min-height: 32px;
    padding: 0 10px;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    transition: all var(--transition-time-fast);
    border-radius: 4px;
    gap: 10px;
    box-sizing: border-box;
    opacity: 0.75;
}

.button.no-title {
    max-width: 32px;
}

.button:hover {
    opacity: 1;
}

.button:active {
    opacity: 0.25;
}

.button.selected {
    opacity: 1;
}
