.group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    min-height: 0;

    > .title {
        padding: 5px 5px;
        margin: 5px 10px;
        border-bottom: 1px solid var(--color-primary-dark);
        align-self: flex-start;
        position: relative;
    }

    /* > .title::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        height: 2px;
        background-color: var(--color-lighter-200);
        border-radius: 3px;
    } */

    > .content {
        flex: 1;
        min-width: 0;
        min-height: 0;
    }
}