.tabs {
    position: relative;
    overflow: hidden;
    align-items: center;
    min-width: 0;
    min-height: 0;
    display: flex;
    -webkit-app-region: drag;
    z-index: 1;
    gap: 5px;

    > .list {
        position: relative;
        overflow: hidden;
        align-items: center;
        min-width: 0;
        min-height: 0;
        display: flex;
        height: 100%;

        > .tab {
            z-index: 1;
            display: flex;
            overflow: hidden;
            align-items: center;
            min-width: 120px;
            height: 100%;
            transition: all var(--transition-time-fast);
            white-space: nowrap;
            -webkit-app-region: no-drag;
            gap: 5px;
            box-sizing: border-box;
            border: 1px solid transparent;
            flex-shrink: 0;
            padding: 0 5px 0 10px;

            > .title {
                font-weight: 400;
                transition: all var(--transition-time-fast);
                white-space: nowrap;
                text-overflow: ellipsis;
                pointer-events: none;
                opacity: 0.75;
                margin-left: 5px;
                flex: 1;
                text-align: center;
                overflow: visible;
            }

            > .close {
                min-height: 24px;
                min-width: 24px;
                border-radius: 12px;
                aspect-ratio: 1;
                transition: all var(--transition-time-fast);
                opacity: 0;
                text-align: center;
                overflow: hidden;

                > .cross {
                    font-weight: 200;
                    font-size: 20px;
                    line-height: 16px;
                }
            }

            > .close:hover {
                background-color: var(--color-lighter-100);
            }

            > .close:active {
                background-color: var(--color-darker-300);
            }

        }

        > .tab:hover:not(.selected) {
            background-color: var(--color-lighter-050);

            > .close {
                opacity: 1;
            }
        }

        > .tab:active:not(.selected) {
            background-color: transparent;
        }

        > .tab.selected {
            background-color: var(--color-lighter-100);
            border-bottom: 1px solid var(--color-primary);

            > .close {
                opacity: 1;
            }

            > .title {
                opacity: 1;
            }
        }
    }

}